.main__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}

.main__header-title {
    width: min(18rem, 80%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__header-pengantin {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__header-initial {
    width: min(20rem, 80%);
}

.petals {
    position: absolute;
    width: min(20rem, 80%);
}

.main__header-venue {
    display: flex;
    flex-direction: column;
    align-items: center;
}

