.main__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.main__header-title {
    top: 1rem;
    width: 50%; 
    position: relative; 
}

.main__header-pengantin {
    width: 75%;
    position: relative;
    display: flex;
    align-items: center;
}

.petals {
    position: absolute;
}

.main__header-venue {
    bottom: 1rem;
    width: 55%; 
    position: relative;
}

