.nav-button {
    background: gainsboro;
    display: flex;
    position: fixed;
    width: 35vw;
    z-index: 100;
    bottom: 0;
}


/* Controller Buttons */
.nav-btn {
    background-color: transparent;
    cursor: pointer;
    padding-top: 0.5rem;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: transparent;
    right: 0;
    transform: translateY(100%);
    transition: transform 0.3s ease-out;
}

.dropdown-content.active {
    z-index: 1;
    transform: translateY(-100%);
}

.dropdown__content-icon {
    display: flex;
    margin: 0;
}

.dropdown-content li {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: none;
    color: #4d4d4d;
    cursor: pointer;
    padding: 0.3rem;
    border-radius: 1rem;
    background-color: gainsboro;
    margin: 0.8rem 0;
}

.dropdown-content p {
    font-size: 0.85rem;
}

.nav-btn:hover {
    color: #636363;
}

/* responsive */
@media screen and (max-width: 1024px) {
    #book {
        width: 100vw;
    }

    .nav-button {
        width: 100%;
    }
}