#invite {
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.invite-container {
    height: 100%;
    width: 100%;
}

.invite-text {
    background: pink;
    padding: 5rem;
}