.invite-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.invite__assets-bismillah {
    width: 40%;
}

.invite__assets-syukur {
    width: 60%;
}

.invite__assets-gelaran {
    width: 73%;
}

.invite__assets-parents {
    width: 55%;
}

.invite__assets-pengantin {
    width: 55%;
}