#rsvp {
    background: url("../../assets/lily_background.png");
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
    height: 100%;
}

.rsvp__container {
    text-align: center;
    width: 80%;
}

/* ASSETS */
.rsvp__btn {
    display: inline-block;
    color: #F4F4F4;
    font-size: medium;
    background-color: #52489C;
    padding: 0.75rem 4rem;
    border-radius: 0.4rem;
    cursor: pointer;
    outline: transparent;
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    width: 75%;
    margin-bottom: 2rem;
    padding: 0.8rem;
    border-radius: 0.5rem;
    resize: none;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
}