#map {
    height: 100%;
    width: 100%;
}

.map__container {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    height: 50%;
    justify-content: space-around;
}

.map__date {
    width: 50%;
}

.map__address {
    width: 90%;
}

.map__time {
    width: 40%;
}

.map__arrival {
    width: 75%;
}

.map__flower-left {
    top: 4rem;
    position: absolute;
    width: 20%;
}

.map__flower-right {
    top: 25rem;
    position: absolute;
    right: 0;
    width: 20%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.map__links {
    display: flex;
    flex-direction: row;
}