.map__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    color: pink;
}

.map__text {
    display: flex;
    flex-direction: column;
    text-align: center;
}


.map__flower-left {
    top: 2.8rem;
    position: absolute;
    width: 31%;
    left: 0;
}

.map__flower-right {
    bottom: 6rem;
    position: absolute;
    right: 0;
    width: 31%;
    z-index: -1;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.map__redirection {
    /* margin-top: 2rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map__links {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.map__link {
    border: 1px solid #626262;
    padding: 0.3rem;
    padding-bottom: 0.1rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
}

.map__link a {
    color: #626262;
}

.map__text-malay {
    color: var(--color-primary);
    font-size: 0.75em;
}

.map__text-english {
    color: var(--color-secondary);
    font-size: 0.65em;
}